# Environment Variables

# Firebase Keys
VITE_FIREBASE_API_KEY=your-firebase-api-key
VITE_FIREBASE_AUTH_DOMAIN=your-firebase-auth-domain
VITE_FIREBASE_PROJECT_ID=your-firebase-project-id
VITE_FIREBASE_STORAGE_BUCKET=your-firebase-project-id
VITE_FIREBASE_MESSAGING_SENDER_ID=your-firebase-messaging-sender-id
VITE_FIREBASE_APP_ID=your-firebase-app-id

# LLM Key
OPENROUTER_API_KEY=your-openrouter-api-key


# Auth Keys

## Google Creds
PUBLIC_FACING_NAME_G=your-google-public-facing-name
SUPPORT_EMAIL_G=your-support-email

## X Creds
CONSUMER_KEY_X=your-x-consumer-key
SECRET_KEY_X=your-x-secret-key
BEARER_TOKEN_X=your-x-bearer-token
CLIENT_ID_X=your-x-client-id
CLIENT_SECRET_X=your-x-client-secret

## Microsoft Creds
APPLICATION_CLIENT_ID_MS=your-microsoft-application-client-id
OBJECT_ID_MS=your-microsoft-object-id
DIRECTORY_TENANT_ID_MS=your-microsoft-directory-tenant-id
CLIENT_SECRET_VALUE_MS=your-microsoft-client-secret-value
CLIENT_SECRET_ID_MS=your-microsoft-client-secret-id

## GitHub Creds
APP_ID_GH=your-github-app-id
CLIENT_ID_GH=your-github-client-id
CLIENT_SECRET_GH=your-github-client-secret

## LinkedIn Creds
CLIENT_ID_LI=your-linkedin-client-id
PRIMARY_CLIENT_SECRET_LI=your-linkedin-primary-client-secret